/* pt-serif-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-serif-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* pt-serif-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/pt-serif-v18-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* pt-serif-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-serif-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* pt-serif-700italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/pt-serif-v18-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  body {
    font-family: 'PT Serif';
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
  }
 
  #activitySelectorDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #activitySettingsButton {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 2px;
  }
  #activitySettingsButton:hover {
    background-color: rgb(218, 218, 218);
  }
  #activitySettingsIcon {
    width: 25px;
    height: 25px;
  }